/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    background-image: url(/img/upsinFoto.png);
}

center {
    text-align: center;
    margin-top: 50px;
}

h1 {
    color: #fff;
}

h2 {
    color: #fff;
}

a {
    display: block;
    margin-top: 20px;
    text-decoration: none;
    color: #00f5ac;
    font-weight: bold;
}

a:hover {
    color: #fff;
}

/* Estilos específicos para el enlace activo */
a.active {
    color: #ff4500;
}
