table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; /* Aumenté el padding para un mejor espacio */
    text-align: left;
}

button {
    border-radius: 4px; /* Aumenté el border-radius para esquinas más suaves */
    background-color: rgb(85, 235, 30);
    color: #fff;
    padding: 10px 15px; /* Añadí padding para un mejor aspecto del botón */
    cursor: pointer;
}

input{
    border-color: #000;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

th {
    background-color: #e0dee9;
}

.columna1 {
    width: 10%;
}

.columna2 {
    width: 10%;
}

.columna3 {
    width: 10%;
    text-align: center;
}

.columna4 {
    width: 10%;
    text-align: center;
}

.columna5 {
    width: 20%;
    text-align: center;
}

.columna6 {
    width: 10%;
    text-align: center;
}

.columna7 {
    width: 10%;
    text-align: center;
}

.columna8 {
    width: 20%;
    text-align: center;
}

/* Añadí un estilo para resaltar filas al pasar el ratón sobre ellas */
tr:hover {
    background-color: #f5f5f5;
}
