body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

h1, h2 {
    margin: 0;
}

section {
    text-align: center;
    margin: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btnLimpiar{
    background-color: #f00;
}

button:hover {
    background-color: #45a049;
}

hr {
    border: 1px solid #ccc;
    margin: 20px 0;
}

#respuesta {
    margin-top: 20px;
}

#respuesta div {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#respuesta div span {
    font-weight: bold;
}

#respuesta div.completed {
    color: #4CAF50;
}

#respuesta div.not-completed {
    color: #e74c3c;
}

